Repository anatoliygatt/dark-mode-toggle: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c tsc --emitDeclarationOnly false --noEmit, eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests, sort-package-json

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "bash -c tsc --emitDeclarationOnly false --noEmit",
    "eslint --fix",
    "prettier --write",
    "jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{json,yml,md}": "prettier --write",
  "package.json": "sort-package-json"
}

chore(lint-staged): run jest command with --passWithNoTests flag
  .lintstagedrc.json
Due: prettier --write

chore: add and configure storybook
  .eslintrc.json
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/stories/ProjectNameDisplay.stories.tsx
  tsconfig.json
Due: bash -c tsc --emitDeclarationOnly false --noEmit, eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests, sort-package-json

feat: add DarkModeToggle
  .storybook/preview-head.html
  .storybook/preview.ts
  jest.config.json
  package-lock.json
  package.json
  src/DarkModeToggle.tsx
  src/ProjectNameDisplay.tsx
  src/__tests__/DarkModeToggle.tsx
  src/__tests__/ProjectNameDisplay.test.tsx
  src/__tests__/__snapshots__/DarkModeToggle.tsx.snap
  src/__tests__/hooks/useFirstMountState.ts
  src/__tests__/hooks/useIsTransitionDisabled.ts
  src/__tests__/hooks/usePrevious.ts
  src/hooks/useFirstMountState.ts
  src/hooks/useIsTransitionDisabled.ts
  src/hooks/usePrevious.ts
  src/index.ts
  src/stories/DarkModeToggle.stories.tsx
  src/stories/ProjectNameDisplay.stories.tsx
  src/style.ts
Due: bash -c tsc --emitDeclarationOnly false --noEmit, eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests, sort-package-json

docs: update README
  README.md
Due: prettier --write

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: none

ci: add GitHub CI workflow
  .github/workflows/ci.yml
Due: prettier --write

ci(github-actions): add deploy-storybook job to CI workflow
  .github/workflows/ci.yml
Due: prettier --write

ci(github-actions): add release job to CI workflow
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  52bf9a7bfdf78d52bb98d809c475f8b2ec0e76d5
Due: none

ci(github): configure dependabot
  .github/dependabot.yml
Due: prettier --write

chore(dependabot): set schedule interval to weekly
  .github/dependabot.yml
Due: prettier --write

chore: add .npmrc
  .github/workflows/ci.yml
  .npmrc
  package-lock.json
Due: prettier --write

fix(README): update github ci workflow status badge url
  README.md
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  b2871f270f3b73d398d3d031fcc6c33b7e53e872
Due: none
